.header {
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: transparent;

  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.logo img {
  height: 50px;
  max-width: 100px;
  object-fit: contain;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  white-space: nowrap;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: rgba(255, 200, 100, 0.8);
}
